@charset "UTF-8";

/*button 공통*/
.button{
  font-size: 16px;
  font-weight: 700; /*bold와 같음*/
  height: 32px;
  line-height: 32px;
  letter-spacing: 1px; /*자간넓이*/
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  margin: 10px;
  color: #ffffff;
  background: #18d26e;
  text-transform: uppercase;
  transition: 0.5s;
}

.button:hover{
  background: #ffffff;
  color: #18d26e;
}

/*back_to_top*/
.back_to_top{
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  right: 10px;
  bottom: 10px;
  background: black;
  z-index: 800;
}

.back_to_top a{
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*mobile button 영역*/
input[type=checkbox]#gnbcheck{ display: none; }

#gnbbtn{
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  z-index: 900;
}

/*mobile button line style*/
#gnbbtn span{
  position: absolute;
  top: 16px;
  height: 1.6px;
  width: 32px;
  background: #fff;
  transform: translateY(-50%); /*살짝내려가있던 선이 중앙으로 정렬됨*/
}

#gnbbtn span:nth-of-type(1){
  top: 8px;
}

#gnbbtn span:nth-of-type(3){
  top: 24px;
}

/*mobile colse button*/
#mobile_close_btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
}
/*mobile colse button line style*/
#mobile_close_btn:before, #mobile_close_btn:after{
  content: '';
  position: absolute;
  height: 1.6px;
  width: 32px;
  background: #fff;
  top: 16px;
  transform: translateY(-50%); /*살짝내려가있던 선이 중앙으로 정렬됨*/
}

#mobile_close_btn:before{
  transform: rotate(45deg);
}

#mobile_close_btn:after{
  transform: rotate(-45deg);
}

/*header*/
#header{
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  z-index: 800;
  background: rgba(0,0,0,.3);
}

/*상단로고*/
#top_logo{
  float: left;
}

#top_logo a{
  color: #ffffff;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-size: 24px;
}

/*nav gnb영역*/
#gnb{
  float: right;
}

#gnb ul{
  overflow: hidden; /*li정렬하기위해 overflow사용*/
}

#gnb ul li{
  float: left;
}

#gnb ul li a{
  display: block; /* 블럭하는이유는 li사이즈가있는데 꽉채우기위해서..? */
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
}

/*section 영역*/
section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-height: 100vh; /*작업화면보다..큰 화면에서 볼수있으므로 최소높이값을 지정*/
  box-sizing: border-box;
}

section:nth-child(odd){
  background: #f9f9f9;
}

section#intro{
  background-image: url('../img/intro/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

section#myprofile{
  background-image: url('../img/bg/about_bg.jpg');
  background-size: cover;
}

section .row .column .inner{
  text-align: center;
}

section#myprofile .row .column .inner .job{
  color: #999999;
  font-size: 14px;
}

section#myprofile .row .column .inner img{
  width: 20%;
  border-radius: 100%;
}

section#myprofile:before{
  content: '';
  position: absolute;
  left: 0;;
  right: 0;
  top:0;
  bottom: 0;
  background: rgba(255,255,255,.92);
  z-index: 9;
}

section#portfolio .row .column .inner p{
  text-align: left;
}

section#portfolio .row .column .inner img{
  border-radius: 5px;
}

section#myskill{
  background-image: url('../img/bg/my_skill_bg.jpg');
  background-attachment: fixed;
  background-size: cover;
}

section#myskill .row > h2, section#myskill .row .column .inner > p{
  color: #fff;
}

section .row .column .inner.none_type{
  border: 0;
  box-shadow: none;
  background: none;
}

section .row .column .inner img.shadow{
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  box-sizing: border-box;
  border: 1px solid #f1f1f1;
  transition: 1s;
}

section .row .column .inner img.shadow:hover{
  box-shadow: none;
}

section > article{
  text-align: center;
  padding: 0 20%; /*px로 설정하면 화면이 줄어들었을때 텍스트영역이 너무 좁아지므로..%로 비율대로 줄어들수있게*/
  color: #ffffff;
}
section > article > h2{
  font-size: 40px;
}
section > article > p{
  font-size: 20px;
}

section .row{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /*요소의 사이즈가 줄어들때 밑으로 내려보낼수있음, 안하면 일렬로 정렬됨*/
  width: 1410px;
  color: #333;
  padding: 120px 0;
  z-index: 500;
  box-sizing: border-box;
}

section .row > h2{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

/*section row title style*/
section .row > h2{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

section .row > h2:before{
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc( 50% - 60px);
}

section .row > h2:after{
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0; /* 0 = 0px,0rem,0em,0%...와 같다*/
  left: calc( 50% - 20px);
}

/*PROGRESSBAR style*/
.progressbar .items_wrap{
  overflow: hidden;
  color: white;
  margin-bottom: 15px; /*items_wrap 사이에 간격을 15px 주겠다...*/
  background: rgba(255,255,255,.3);
}

.progressbar .items_wrap:last-child{
  margin-bottom: 0;
}

.progressbar .items{
  overflow: hidden;
  box-sizing: border-box;
  padding: 6px 10px;
  border-radius: 0 5px 5px 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  box-shadow: 3px 0 3px rgba(0,0,0,.3);
  width: 0;
  height: 45px;
  line-height: 45px;
}

.progressbar .items .title{
  float: left;
  font-weight: 700;
  padding: 6px 0;
}

.progressbar .items .percent{
  float: right;
  padding: 6px 0;
}

.progressbar .items_wrap:nth-of-type(1) .items{
  background: #186a9a;
}

.progressbar .items_wrap:nth-of-type(2) .items{
  background: #036b54;
}

.progressbar .items_wrap:nth-of-type(3) .items{
  background: #b07c00;
}

.progressbar .items_wrap:nth-of-type(4) .items{
  background: #735697;
}

/*animation*/
section.active .row .column .inner.progressbar .items_wrap:nth-of-type(1) .items{
  width: 50%;
  transition: 1s;
}

section.active .row .column .inner.progressbar .items_wrap:nth-of-type(2) .items{
  width: 80%;
  transition: 1s .25s; /*delay값이 .25s*/
}

section.active .row .column .inner.progressbar .items_wrap:nth-of-type(3) .items{
  width: 70%;
  transition: 1s .5s;
}

section.active .row .column .inner.progressbar .items_wrap:nth-of-type(4) .items{
  width: 60%;
  transition: 1s .75s;
}

/*section row column style*/
section .row .column{
  flex: 25%; /*한줄에 4개씩 정렬하려고 25%, 5개하려면 20%하면됨*/
}

section .row .column .inner{
  margin: 15px;
  padding: 15px;
  background: #fff;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  border-radius: 5px;
}

section .row .column .inner img{
  width: 100%;
}

#footer{
  background: #000000; /*black = #000 = #000000*/
  color: #fff;
  font-size: 14px;
}

#footer .footer_top{
  background: #111;
  padding: 60px 0 30px; /*paddig: 60 0 30 0*/
}

#footer .footer_top .container{
  margin: 0 auto;
  width: 1140px;
}

#footer > .container{
  padding: 30px 0;
  text-align: center;
}

#footer .container .row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer .container .row .column{
  flex: 25%;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 30px;
}

#footer .container .row .column.footer_logo h3{
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px; /*border-left가 10px 띄워져생성됨*/
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #18d26e;
}

#footer .container .row .column h4{
  position: relative;
  font-size: 14px;
  font-weight: 700;/* 700 = bold */
  color: #ffffff;
  text-transform: uppercase;/*대문자 표기*/
  padding-bottom: 12px;
  margin-bottom: 20px;
}

#footer .container .row .column h4:before, #footer .container .row .column h4:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}
``
#footer .container .row .column h4:before{
  right: 0;
  background: #555555;
}

#footer .container .row .column h4:after{
  width: 60px;
  background: #18d26e;
}

#footer .container .row .column ul li{
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .container .row .column ul li:nth-of-type(1){
  padding-top:0;
}

#footer .container .row .column p{
  line-height: 26px;
}

#footer .container .row .column.news input[type=search]{
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .container .row .column.news input[type=submit]{
  background: #18d26e;
  border: 0;
  width: 35%;
  padding: 6px 0;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

/* 반응형 css / media query영역*/
@media screen and ( max-width: 1200px ) {
  section .row .column{
    flex: 50%;
  }
  section#myprofile .row .column .inner img{
    width: 30%;
  }
  #footer .container{
    width: 100%;
  }
  #footer .container .row .column{
    flex: 50%;
  }
}

@media screen and ( max-width: 767px ) { /*tablet기준*/
  section .row .column{
    flex: 100%;
  }
  section#ourclients .row .column, section#mytool .row .column{
    flex: 50%;
  }
  section#myprofile .row .column .inner img{
    width: 40%;
  }
  #footer .container .row .column{
    flex: 100%;
  }
  /*mobile gnb*/
  input[type=checkbox]#gnbcheck:checked ~ #header #gnb{
    left: 0;
  }
  #gnbbtn{
    display: block;
  }
  #gnb{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 80%;
    background: rgba(0,0,0,.8);
    transition: .5s ease-in-out;
  }
  #gnb ul{
    padding-top: 50px;
  }
  #gnb ul li{
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
  }
  #header{
    position: absolute;
  }

  @media screen and ( max-width: 380px ) {
    section#ourclients .row .column, section#mytool .row .column{
      flex: 100%;
    }
  }





}
